@media screen and (max-width:1024px){
       ul.flex{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 75px;
    background-color: rgba(213, 207, 207, 0.941);
    width:100%;
    justify-content: center;
    left:0;
    backdrop-filter: blur(10px);
    padding: 20px 0px;
   } 
   header{
    height: 100%;
   }
    nav{
            position: relative;
        }
     #menu-check:checked~ .nav-middle ul.flex {
        display:flex;
        }
        label .open{
            display: inline;
        }
        .close{
            display:none;
        }
        #menu-check:checked~ label .open{
            display:none;
        }
        #menu-check:checked~ label .close{
            display:inline;
        }
        .About .flex{
             flex-wrap: wrap; 
            flex-direction:row;
            gap: 15px;
        }
       .card{
        width: 40%;

       }
       .content{
        width:100%;
       }
       .Img{
        width:100%;
       }
       header .flex,.about2 .flex , .newArrivals .flex ,.Footer .flex{
        flex-direction: column;
        gap:25px;
       }
       .cardBook{
         width:50%;
       }
       .Footer div{
        width:100%;
        text-align: center;
       }
       .Footer .pFooter{
        padding: 0px;
       }
}

@media screen and (max-width:600px){
    h1{
        font-size: 40px
    }
    .card , .cardBook{
        width:100%;}
}
/* @media screen and (max-width:1010px){

} */
