:root{
    --primary:#36c7c0;
    --gray: rgb(217, 217, 217);
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    margin: auto;
    width:80%;
    
}
.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
ul{
    list-style-type: none;
}
nav{
    padding: 10px  0;
    z-index: 99999999;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
}
i{
    padding-right: 5px;
}
ul li a{
    font-size: 20px;
   color:black ;
   text-decoration: none;
}
ul.flex{
    gap: 30px;
    margin-right: auto;
}
.navbar{
    border-bottom: 3px solid var(--primary);
    box-shadow: 0 0 20px 0 var(--primary);
}
.bookColor{
    color: var(--primary);
}
label .open, label .close{
    display: none;
}
/* header ...................................................*/
header{
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url('../images/backroung.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat-y: no-repeat;
}
 .content{
      max-width: 45%;
    width: 800px;
}
 .Img{
       width:500px;
    }
    header .flex,.about2 .flex{
        gap:90px;
    }

header h1 span {
color: var(--primary);
}
h1{
    font-size: 60px;
      padding-top: 130px;
    padding-bottom: 50px;
}
p{
margin-bottom: 50px;
}
.btnHeader{
    padding: 10px 20px;
    margin-bottom: 60px;
    background-color:var(--primary);
border:none;
color: white;
font-size: medium;
font-weight: 700;
}


/* .................aboutsection.................. */
.card{
    text-align: center;
    width:20%;
    
    box-shadow:0px 1px 10px var(--primary);
    height:auto;
}
.About{
    margin-top: 30px;
}
.About p{
    font-size: 15px;
    padding-top: 5px;
}
.card div{
    padding: 20px 6px 6px 6px;
}
.card i{
    color:var(--primary);
}
h4{
    padding-top: 10px;
}

/*    ..........about2 .............. */
.about2{
    margin-top: 40px;
}
/* featured book */

.cardBook
{
border: 2px solid rgb(152, 141, 141);
text-align: center;  
height: auto;  
padding: 5px 30px;
}
h5{
    color:rgb(152, 141, 141);
    font-weight: lighter;
}
h6{
    color:var(--primary);
    font-weight: lighter;
    font-size: 12px;

}
ins{
    text-decoration: none;

}
.FeaturedBook .btnHeader , .newArrivals .btnHeader{
    border: 1px solid var(--primary);
    background-color: white;
    color: black;
     font-weight: lighter;
    margin-bottom: 15px ;
margin-top:5px;
font-size: 15px;

}
.editImgBooks{
    width:120px ;
    height:183px ;
}
 .FeaturedBook .flex{
        gap: 20px;
       }
       .FeaturedBook{
        margin-top: 50px;
       }
       .FeaturedBook h2 {
        text-align: center;
        margin-bottom: 80px;
        font-size: 40px;
       }
/* ..................................newarrivals */
 .newArrivals {
   margin-top: 250px; 
 }

 .newArrivals h2{
   text-align: center;
        margin-bottom: 30px;
        font-size: 40px;  
 }
  .newArrivals .flex{
    gap: 50px;
    margin-bottom: 30px;
  }

.newArrivals div i ,.Reviews i{
    color: var(--primary);
    font-size: 15px;
}
.newArrivals .container{
    margin: auto;
}
   /* .....................review */
   .Reviews .card{
    text-align: start;
    padding: 0px 10px;
       width: 40%;
   }
   .Reviews img{
    width: 50px;
    height: 50px;
    border-radius: 11111111px;
    -webkit-border-radius: 11111111px;
    -moz-border-radius: 11111111px;
    -ms-border-radius: 11111111px;
    -o-border-radius: 11111111px;
}
.Reviews  .card .flex{
    justify-content:space-between;
    padding:5px 0px ;
    
}
.Reviews  .card p{
    font-size: 12px;
}

.Reviews h2{
    text-align: center;
    font-size: 40px;
    margin-top: 160px;
    margin-bottom: 80px;
}
.Reviews  .card .flex i{
    color: var(--gray);
    font-size: 80px;
}
.Reviews .container .flex{
    gap:15px;
}
.Reviews h4{
    padding-top: 0px;
}
.digitalBook{
    background-image: url(../images/digitalbook.jpg);
    height: 50vh;
    background-size:cover;
    margin-top: 50px;
    position: relative;
}
.digitalBook button{
position: absolute;
top:250px;
left: 90px;
font-size: 10px;
}
/* .........................our blog */
.ourBlog .flex{
gap:100px;
justify-content: space-between;
padding: 20px;
}
.ourBlog h2{
    font-size: 40px;
    text-align: center;
    margin: 15px 0px;
}
.ourBlog img{
    width: 100%;
    height: 30%;
}
.ourBlog .card{
    width:30%;
    text-align: start;

    box-shadow: -2px 5px 7px 9px var(--gray)
    
}

.ourBlog  .blogImg{
    height: 200px;
}
.ourBlog h4{
    color: var(--primary);
}
.ourBlog .card div{
    padding: 0 20px;
}

.ourBlog .card p{
    margin-bottom: 10px;
}
.ourBlog .card .flex i{
    padding-bottom: 10px;
    font-size: 20px;
}
/* ..................footer */
.logo{
    width: 100px;
    height: 60px;
}
.Footer .flex{
    gap: 20px;
     align-items: flex-start;
     padding-top: 30px;
   
}
.Footer div{
    width:100%;
    

}
.Footer div i {
    font-size:15px;
    padding:5px;
    
}
.Footer {
    background-color: var(--gray);
    padding: 0 30px 0 30px;

   
}
.Footer h3{
    padding-bottom: 20px;
}
.Footer ul a{
    font-weight: lighter;
   

}
.Footer ul li{
    padding-bottom: 5px;
}
.Footer .pFooter{
    padding-right: 100px;
    /* padding-left: 50px; */

    
}
.Footer .pFooter p{
    padding-top: 15px;
}
.Footer .btnHeader{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-top: 10px;
}
input[type="email"]{
    background-color: #abb4b3;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 8px 55px 8px 5px;
border: none;
}
.Footer .masterCode{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 0px;
}
.Footer .masterCode span{
    color:var(--primary);
}