*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
    width:80%;
    
}
.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
ul{
    list-style-type: none;
}
nav{
    padding: 20px  0;
    z-index: 99999999;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
}
i{
    font-size: 30px;
}
ul li a{
    font-size: 20px;
   font-weight: bold;
   color:black ;
   text-decoration: none;
}
ul.flex{
    gap: 30px;
    margin-right: auto;
}
.navbar{
    border-bottom: 3px solid #36c7c0;
    box-shadow: 0 0 20px 0 #36c7c0;
}
.bookColor{
    color: #36c7c0;
}
label .open, label .close{
    display: none;
}
/* header */
header{
    display: flex;
    align-items: center;
    height: 90vh;
}
header h1 span {
color: #36c7c0 ;
}
h1{
    font-size: 60px;
    padding-bottom: 50px;
}
p{
font-size: 20px;
font-weight: bold;
margin-bottom: 90px;
}
.btnHeader{
    padding: 10px 20px;
    background-color: #36c7c0;
border:none;
color: white;
font-size: medium;
font-weight: 700;
}

